<div class="alert alert-danger" role="alert">
    <h6>Go to <span (click)="goToHome()">Home</span>.</h6>
</div>
<div class="container p-3">
    <p>Disclaimer: Informational Use Only</p>

    <p>This application retrieves and displays information about the user's environment for informational purposes only.
        The
        data collected, including but not limited to IP address, geolocation, and device details, is not saved, stored,
        or
        used for any purpose beyond providing a personalized experience to the user.</p>

    <p>No Data Storage: We do not store or retain any of the information collected during your use of this application.
        Your
        privacy and data security are our top priorities.</p>

    <p>Use of Third-Party Services: The application may use third-party services for data retrieval. However, these
        services
        adhere to strict privacy standards, and the information is fetched in real-time without being stored on our
        servers.
    </p>

    <p>Not for Tracking or Identification: The information presented is not used for tracking or identification
        purposes. It
        is solely intended to offer insights into the user's device and location.</p>

    <p>Security Measures: While we take reasonable security measures to protect the data during transit, please be aware
        that no online transmission method or electronic storage is 100% secure. Users are encouraged to use this
        application responsibly and within the bounds of applicable laws and regulations.</p>

    <p>Disclaimer Updates: This disclaimer may be subject to updates without prior notice. Users are encouraged to
        review
        this disclaimer periodically for any changes.</p>

    <p>By using this application, you acknowledge and agree to the terms outlined in this disclaimer.</p>
</div>