@import "~bootstrap/dist/css/bootstrap.min.css";
body {
    background-image: url('https://imgur.com/Fn9FQwT.jpg'), url('https://imgur.com/VfcgZZ9.jpg');
    background-size: cover;
    background-blend-mode: difference;
}